@import './sass-variables/backgrounds.scss';
@import './sass-variables/fonts.scss';
@import './sass-variables/mixin.scss';
.admin-table{
    @include d-flex(column);
    font-family: $Roboto;
    margin:20px;

    h1{
        align-self: center;
    }
    .table{
        padding: 0;
        margin: 0;
        tbody{
            text-align: center;
        }
        .t-header tr th{
            padding: 15px 0px;
            margin: 0;
            border-bottom: 1px solid $font-black;
            background-color: $back-base;
            color:$font-white;
        }
        .table-actions{
            button:nth-child(1){
                color:red;
                background: $back-white;
                border:none;
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
                margin-right:5px;
                
            }
            button:nth-child(2){
                color:yellow;
                background: $back-white;
                
            }
            button{
                width: 40px;
                padding: 8px;
                font-size: 15px;
            }
        }
    }
    .admin-post-update{
        @include d-flex(column);
        input{
            padding:2px;
            margin-bottom: 15px;
            outline: none;
            border:none;
            border-bottom: 1px solid #000;
        }
        margin-bottom: 50px;
    }
}