@import 'sass-variables/backgrounds.scss';
@import 'sass-variables/fonts.scss';
@import 'sass-variables/mixin.scss';

.content{
    grid-area:content;
    
    @include d-flex(column);
    justify-content: space-around;
    align-items: center;
    background-color: #F4E5D8;
    font-family: $Roboto;

    h2{
        margin:20px;
    }
    .title{
        font-size: 2.4rem;
        color:#FBFBFF;
    }
    .post{
        @include d-flex(column);
        width:50vw;
        padding:10px;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
        background-color: $back-white;
        color: $font-black;
        margin-bottom: 10px;
        .post-header{
            display:flex;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
            flex-wrap: wrap;
            img{
                width:200px;
                margin-right: 10px;
                justify-self: flex-start;
            }
            .post-name{
                font-size:1.2rem;
            }
            .post-description{
                width: 100%;
                margin-top:5px;
                font-size: 1.2rem;
                color:$font-black2;
            }
        }
        .post-content{
            margin-top:10px;
            text-align: justify;
            padding: 10px;
            text-indent: 30px;
        }
    }
}