@import 'sass-variables/backgrounds.scss';
@import 'sass-variables/fonts.scss';

.post-create{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    h2{
        font-family: $Roboto;
        color:$font-black;
    }
    form{
        display: flex;
        flex-direction: column;
        margin:10px;
        width: 80%;
        input{
            font-family: $Roboto;
            background: $back-white;
            margin-bottom: 10px;
            border:none;
            border-bottom: 1px solid rgba(0,0,0,0.2);;
            padding:10px;
            outline: none;
        }
        button{
            box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3); 
            background-color:$back-base;
            width:80px;
            padding:5px;
            color:$font-white;
            font-weight: bold;
            border:none;
            outline: none;
            
        }
        button:active{
            box-shadow: none;
        }
    }
}