@import 'sass-variables/backgrounds.scss';
@import 'sass-variables/fonts.scss';


.footer{
    grid-area: footer;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #DFCED9;
    box-shadow: 2px -2px 2px 1px rgba(0,0,0,0.2);
    z-index: 1;
    padding:10px;
    font-size:1.2rem;
    font-family: $Roboto;
    color:$font-white;
    p{
        margin-left:5px;
    }
}