@import 'sass-variables/backgrounds.scss';
@import 'sass-variables/fonts.scss';

.App{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    height: 100vh
}

#root{
    margin:0;       
}
body{
    margin:0
}