.menu {
    grid-area: menu;
    display:flex;
    list-style: none;
    justify-self: flex-end;
    
    li{
        margin-right:5px;
        a{
            color:#000;
            margin-left: 5px;
            text-decoration:none;
            vertical-align: center;
            i{
                margin-right: 5px;
            }
        }
    }
}